@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Bayon&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
/* #42427d #05385b #379683  #3E5B23 #77a058 */

:root{
    --color: #edf5e1;
    --fontcol: #edf5e1; 
    --hovercol: #3e5b23;
} 

.dashboard1_container{
    position: fixed;
    left: 0;
    top: 0px;
    height: 100vh;
    background-color:#77A058;
     /* #379683; */
    /* background-image: linear-gradient(to right,#F3F6FF 90%,#fff); */
    /* #f1f6f9;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Amita', cursive;
    justify-content: space-evenly;
    width: 400px;
    
}
.dashboard1_logo{
    
    font-size: 30px;
    position: relative;
    cursor: pointer;
    bottom: 25px;
    right: 45px;
    color: var(--color) !important;
    font-family: 'Amita', cursive;
}
.dashboard1_logo_link{
    text-decoration: none !important;
    outline: none;
    color: var(--color) !important;
    
}
.dashboard1_link{
    text-decoration: none;
    outline: none;
    color: var(--fontcol);
    transition: all 0.3s;
}
.dashboard1_items{
    width: 90%;
    position: relative;
    align-items: flex-start;
    left: 65px;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dashboard1_item{
    font-size: 20px;
    display: inline-block;
    font-family: 'Slabo 27px', serif;
    text-decoration: none !important;
    position: relative;
    cursor: pointer;
    color: var(--fontcol);
    margin: 20px 0;
    transition: all 0.3s;
}
.dashboard1_item:hover{
    color:  var(--hovercol);
    transform: translateX(20px)scale(1.2);

}
.dashboard1_item:active{
    color: var(--color);
}
.dashboard1_link:hover{
    color:  var(--hovercol);
    transform: translateX(20px)scale(1.2);

}
.dashboard1_footer{
    font-size: 10px;
    position: relative;
    right: 65px;
    top: 30px;
    color:  var(--fontcol);
    cursor: pointer;
}