@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
.crop_rec_area{
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.crop_rec_wrapper{
    position: relative;
    left: 400px;
    height: 100vh;
    width: calc(100vw - 400px);
    
}
.crop_rec_form_wrapper{
    width: 70%;
}
.croprecheader{
    margin-bottom: 5vh;
    color: #77a058 ;
    font-family: 'Slabo 27px', serif;
}
.crop_rec_button_wrapper{
    margin-top: 5vh;
    padding: 2vh 0;
}
.crop_rec_header{
    color: #77a058;
    padding-top: 3vh;
    margin-top: 3vh !important;
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
}
.form_crop_rec{
    width: 120%;
}