* {
  margin: 0;
  padding: 0;
}
.parent {
  min-height: 100vh;
  background-image: url("../../images/back_png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.firstpage_tagline{
  font-family: "Unica One", cursive;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50% ,-50%);
  color: #ffffff;
}
.nav {
  text-align: left;
}
.title {
  display: inline-block;
  color: #ffffff;
  text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Unica One", cursive;
  margin: 4vh 0 0 5vw;
  font-size: 4.5rem;
}
.shopnowbutton {
  padding: 2vh 3vw;
  border: none;
  outline: none;
  position: absolute;
  top: 620px;
  background: #1190cb;
  border-radius: 8px;
  box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.5);
}
.shopnowtext {
  color: #ffffff;
  font-family: "Ropa Sans", sans-serif;
  font-weight: normal;
}
@media(max-width:800px){
  .firstpage_tagline{
    top:50%;
    font-size: 22px;
  }
}
@media (min-width:801px) and (max-width:1200px){
  .firstpage_tagline{
    font-size: 25px;
  }
}