@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.loginbox
{
    width: 400px;
    min-height: 450px;
    border-radius: 18px;
    background-color: #fadcac;
    position: relative;
    left: calc(50% - 200px);
    box-sizing: border-box;
    padding: 70px 30px 30px 30px;
}
.circle_img {
    
    width: 109px;
    height: 109px;
    transform: rotate(8deg);
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginboxheading{
    margin: 0;
    padding: 0 0 20px;
    color: #065446;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}
.loginbox p{
    margin: 10px 0 ;
    padding: 0;
    color: #065446;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.loginbox input, select{
    width: 100%;
    margin-bottom:20px ;
    font-family: 'Open Sans', sans-serif;
}
.loginbox input[type="text"], .loginbox input[type="password"]{
    border: none;
    border-bottom: 2px solid #065446;
    background: transparent;
    outline: none;
    height: 40px;
    color: #158467;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;      
}

.loginbox input[type="text"]:focus, .loginbox input[type="password"]:focus{
    border-bottom: 3px solid #065446;
    
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height:40px;
    background: #065446;
    font-size: 18px;
    border-radius: 20px;
    color: #fadcac;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
   background-color: teal;
   font-family: 'Open Sans', sans-serif;
}
.loginbox a{
    text-decoration: none;
    font-size: 18px;
    display: block;
    line-height: 20px;
    color: #065446;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
}
.loginbox a:hover{
    color:#411f1f;
}
.loginbox select{
    background: #065446;
    color: #fadcac;
    padding: 10px;
    width: 103%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    -webkit-appearance: button;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
    position: relative;
}
.loginbox .cross{
  cursor: pointer;  
  position: absolute;
  top: 0;
  right: 20px;
  color: #065446;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  transform: rotate(45deg);
  font-weight: bold;
}
