@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Bayon&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
.formWrapper{
    height: 400px;
    width: 470px;
    /* margin: auto; */
    position: relative;
    top: 30px;
    
}
.contentArea{
    margin: 0;
    padding: 0;
    position: relative;
    left: 360px;
    height: 100vh;
    width: calc(100vw - 760px);
    color:  #3E5B23;
    /* #c3ce85; */
    margin-left: 55px;
    z-index: 3;
}
.farmerWelcome{
    font-size: 40px;
    color: #77a058;
    position: relative;
    right: 40px;
    width: 40%;
    top: 45px;
    font-family: 'Slabo 27px', serif;
}
.farmermsg2{
    position: relative;
    font-family: 'Slabo 27px', serif;
    color: #77a058;
    font-size: 35px;
    width: 40%;
    left: 0px;
    top: 30px;
}

.form-control:focus{ border-width: 3px;border-color: #379683;  box-shadow: none; -webkit-box-shadow: none;} 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

@media(max-width:1100px){
    .contentArea{
        top: 51vh;
        left: 0;
    }
    .farmermsg2{
        font-size: 22px;
        left: 20vw;
        width: 40vw;
        top: 35px;
    }
    .farmerWelcome{
        font-size: 30px !important;
    }
    .formWrapper{
        width: 90vw;
        top: 45px;
        right: 10vw;
    }
}