
.gov_scheme_index{
    border: 1px solid;
    height:100vh;
    
}
.gov_scheme_content{
    border: 1px solid;
    height:100vh;
    
}






@media(max-width:600px){
    .gov_scheme_index{
        height: 40vh;
    }
}