.singlecards {
  /* height: 50vh; */
  width: 40%;
  /* background-color: red; */
  position: absolute;
  text-align: center;
  margin-top: 2.5vh;
}
.map {
  width: 55%;
  height: 80vh;
  margin-top: 5vh;
  border: none;
  outline: none;
  position: fixed;
  right: 5%;
  border-radius: 10px;
  overflow: hidden;
}
.map :hover :focus {
  border: none;
  outline: none;
}
.markerpoint {
  width: 5px;
  height: 5px;
  background-color: red;
}
.markerpoint1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #75cff0;
  border: 1px solid #ffffff;
}
.mapdest {
  color: #d43e30;
}
.maptruck {
  color: #4caf50;
}
.rebutton {
  position: absolute;
  right: 4%;
  top: 2vh;
  z-index: 4;
  border-radius: 50%;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  outline: none;
}
.rebutton :focus {
  border: none;
  outline: none;
}
@media only screen and (max-width: 1000px) {
  .ordermap {
    display: block;
  }
  .mapouter {
    text-align: center;
    display: block;
  }
  .map {
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    right: 0;
    border-radius: 0;
    margin-top: 0;
  }
  .singlecards {
    position: static;
    width: 100%;
  }
}
